.header {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header__top {
    background-color: #1d1d1b;
    padding: 1.5rem 0;
    display: flex; }
  .header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 6rem; }
  .header__logo {
    width: 12rem;
    margin-bottom: -0.5rem; }
  .header__search-input {
    border: none;
    font-size: 1.4rem;
    color: #e3e3e3;
    background-color: transparent;
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    transition: all 0.2s ease-out; }
    .header__search-input-area {
      width: 30rem;
      margin-left: auto;
      display: flex;
      border: 1.5px solid #e3e3e3;
      border-radius: 2rem;
      padding: 0.5rem 1.5rem;
      color: #e3e3e3;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-out; }
      .header__search-input-area:focus-within {
        background-color: #d7d7d7;
        border: 1.5px solid #d7d7d7;
        color: #1d1d1b;
        width: 33rem; }
        .header__search-input-area:focus-within .header__search-button {
          fill: black; }
    .header__search-input:focus {
      outline: none;
      color: #1d1d1b; }
      .header__search-input:focus::placeholder {
        color: #1d1d1b; }
    .header__search-input::placeholder {
      color: #ccc9c9;
      font-family: "Helvetica Neue Light", Arial, sans-serif; }
  .header__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #e3e3e3; }
  .header__search-icon {
    margin-bottom: -0.5rem;
    width: 2.5rem;
    height: 2.5rem; }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 4rem; }
    .header__actions-button {
      background-color: transparent;
      border: none;
      fill: #e3e3e3;
      cursor: pointer;
      transition: all 0.2s ease-out; }
      .header__actions-button:hover {
        fill: #ffffff; }
    .header__actions-icon--cart {
      width: 3rem;
      height: 3rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--cart:hover {
        transform: scale(1.2); }
    .header__actions-icon--user {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--user:hover {
        transform: scale(1.2); }
    .header__actions-icon--support {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--support:hover {
        transform: scale(1.2); }
    .header__actions-flag {
      width: 2.5rem;
      height: 2.5rem; }
    .header__actions-arrow-down {
      margin-bottom: 0.5rem;
      width: 1rem;
      height: 1rem;
      transform: rotate(90deg); }
  .header__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .header__nav-list {
      flex-wrap: wrap;
      margin: 0 auto;
      list-style: none;
      display: flex;
      font-size: 1.6rem;
      font-family: "Helvetica Neue Light", Arial, sans-serif;
      font-weight: 400;
      color: #1d1d1b; }
    .header__nav-item {
      padding: 1.5rem 4rem; }
      .header__nav-item--current {
        color: #afc410; }
        .header__nav-item--current:hover {
          background-color: transparent !important; }
      .header__nav-item:hover {
        background-color: #f9faed; }
    .header__nav-link:link, .header__nav-link:active, .header__nav-link:visited {
      text-decoration: none;
      color: inherit;
      font-family: inherit; }
    .header__nav-breadcrumbs {
      width: 80%;
      padding-left: 12rem;
      margin: 0 auto;
      display: flex;
      font-size: 1.2rem;
      font-family: "Helvetica Neue Light", Arial, sans-serif;
      align-items: center;
      gap: 0.7rem;
      letter-spacing: 1px; }
      .header__nav-breadcrumbs-icon {
        width: 1.4rem;
        height: 1.4rem; }
      .header__nav-breadcrumbs-link:link, .header__nav-breadcrumbs-link:visited, .header__nav-breadcrumbs-link:active {
        text-decoration: none;
        color: inherit; }
      .header__nav-breadcrumbs-link:hover {
        text-decoration: underline; }
      .header__nav-breadcrumbs-slash {
        font-family: "Helvetica Neue Thin", Arial, sans-serif;
        font-size: 1.5rem; }

@media only screen and (max-width: 68.75em) {
  .header__nav-item {
    padding: 1rem 2rem; } }

@media only screen and (max-width: 50em) {
  .header__nav-list {
    justify-content: center; }
  .header__nav-item {
    width: calc((100% - 8rem) / 4); } }

@media only screen and (max-width: 40.62em) {
  .header__content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; }
  .header__actions {
    width: 100%;
    justify-content: space-between; }
  .header__nav-item {
    padding: 1rem; } }

.main__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem; }

.main__item {
  display: flex;
  width: 100%;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .main__item:not(:last-child) {
    padding-bottom: 3rem;
    border-bottom: 0.5px solid #e6e5e5; }
  .main__item:first-child {
    margin-top: 10rem; }
  .main__item-image {
    flex: 1 0 50%;
    min-width: 300px;
    height: auto; }
  .main__item-info {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 2rem; }
    .main__item-info-image {
      width: 50%;
      margin: 0 auto; }
    .main__item-info-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 1.7rem;
      letter-spacing: 0.5px; }
    .main__item-info-button {
      margin-top: 2rem !important;
      background-color: #1d1d1b;
      color: white;
      width: 50%;
      padding: 1.1rem;
      border-radius: 2rem;
      margin: 0 auto;
      cursor: pointer;
      white-space: nowrap;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      transition: all 0.1s ease-out; }
      .main__item-info-button:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 6px rgba(29, 29, 27, 0.3); }

@media only screen and (max-width: 68.75em) {
  .main__item-info-button {
    width: 80%; } }

@media only screen and (max-width: 50em) {
  .main__item {
    flex-direction: column; }
  .main__item-image {
    width: 80%; } }

.footer {
  display: flex;
  flex-direction: column; }
  .footer__nav {
    background-color: #1d1d1b;
    padding-top: 1rem;
    position: relative; }
    .footer__nav-notice {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1rem;
      font-size: 1.4rem;
      color: #cecdcd; }
    .footer__nav-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .footer__nav-row {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      flex: 1 1 23%; }
      .footer__nav-row--lg {
        flex: 1 1 25%; }
      .footer__nav-row-heading {
        font-size: 1.8rem;
        color: #efeff1;
        text-transform: uppercase; }
        .footer__nav-row-heading--top {
          margin-bottom: 2rem; }
      .footer__nav-row-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.8rem; }
      .footer__nav-row-item {
        color: #a5a5a5;
        font-size: 1.6rem; }
        .footer__nav-row-item--sm {
          font-size: 1.4rem;
          line-height: 1.4;
          margin-bottom: 1rem; }
        .footer__nav-row-item-container {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          margin-bottom: 0.3rem; }
      .footer__nav-row-input {
        padding: 0.6rem 1rem;
        background-color: #dedddd;
        flex-grow: 1;
        outline: none;
        border: none;
        height: 3.4rem; }
        .footer__nav-row-input::placeholder {
          font-family: "Helvetica Neue Light", Arial, sans-serif; }
        .footer__nav-row-input:focus {
          outline: none; }
        .footer__nav-row-input-container {
          display: flex;
          border-radius: 1px;
          align-items: stretch;
          margin-bottom: 3rem; }
        .footer__nav-row-input-button {
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          background-color: #6b6e7d;
          padding: 0.3rem 0.6rem; }
          .footer__nav-row-input-button:hover {
            background-color: #afc410; }
      .footer__nav-row-link--rest:hover {
        text-decoration: none !important; }
      .footer__nav-row-link:link, .footer__nav-row-link:active, .footer__nav-row-link:visited {
        text-decoration: none;
        color: inherit;
        font-size: inherit; }
      .footer__nav-row-link:hover {
        text-decoration: underline; }
      .footer__nav-row-icon {
        width: 13rem;
        height: 4.2rem; }
        .footer__nav-row-icon--sm {
          width: 2.3rem;
          height: 2.3rem;
          fill: #ffffff; }
        .footer__nav-row-icon--esm {
          width: 1.5rem;
          height: 1.5rem;
          fill: #ffffff; }
  .footer__media {
    background-color: #1d1d1b;
    border-top: 1px solid #303030;
    padding: 1.5rem 0 0.5rem; }
    .footer__media-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .footer__media-slogan {
      color: #a6a6a6; }
    .footer__media-buttons {
      display: flex;
      gap: 2rem; }
    .footer__media-button {
      background-color: transparent;
      outline: none;
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border 0.2s; }
    .footer__media-icon {
      fill: #aeafb0;
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .footer__media-icon:hover {
        transform: scale(1.1);
        fill: white; }
    .footer__media-payment-methods {
      margin-left: auto; }

@media only screen and (max-width: 68.75em) {
  .footer__nav-row {
    flex-basis: 30%; }
  .footer__nav-row-input {
    flex-grow: 0;
    width: 50%; } }

@media only screen and (max-width: 40.62em) {
  .footer__nav-row-input {
    flex-grow: 0;
    width: 100%; } }

.article {
  padding-top: 5rem;
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 3rem;
  padding-bottom: 5rem; }
  .article__arrow {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .article__arrow-up {
      width: 3rem;
      height: 3rem;
      transform: rotate(270deg);
      fill: #d9d8d8; }
    .article__arrow-down {
      width: 3rem;
      height: 3rem;
      transform: rotate(90deg);
      fill: #979797; }
  .article__gallery {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .article__gallery-button {
      border: 1px solid #edecec;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      height: 5rem;
      width: 5rem;
      padding: 0.5rem;
      transition: all 0.2s; }
      .article__gallery-button:hover {
        box-shadow: 0 2px 6px rgba(128, 128, 128, 0.3);
        transform: scale(1.1); }
    .article__gallery-previews {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.6rem; }
    .article__gallery-preview {
      max-width: 100%;
      max-height: 100%; }
    .article__gallery-main-image {
      min-width: 0; }
  .article__main {
    margin-top: 0.5rem;
    display: flex;
    flex: 1 1 35%;
    flex-direction: column; }
  .article__rating {
    display: flex;
    align-items: center; }
    .article__rating-quantity {
      padding: 0 1rem;
      font-size: 1.2rem;
      transition: all 0.2s; }
      .article__rating-quantity:link, .article__rating-quantity:active, .article__rating-quantity:visited {
        color: inherit;
        text-decoration: none; }
      .article__rating-quantity:hover {
        text-decoration: underline; }
    .article__rating-stars {
      display: flex;
      flex-wrap: nowrap; }
    .article__rating-star {
      width: 1.8rem;
      height: 1.8rem;
      fill: #ff6600; }
  .article__heading {
    font-size: 2.6rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 0.7rem;
    color: #545353; }
  .article__description {
    font-size: 1.7rem;
    color: #565656;
    margin-bottom: 0.9rem; }
  .article__weight {
    font-size: 1.4rem; }
  .article__number {
    font-size: 1.4rem; }
  .article__hr {
    margin: 1rem 0 2rem 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .article__price-label {
    font-size: 1.7rem; }
  .article__new-price {
    font-size: 1.9rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
  .article__price {
    margin-bottom: 1rem; }
  .article__choice {
    margin-bottom: 1rem; }
    .article__choice-label {
      font-size: 1.7rem; }
    .article__choice--selected {
      font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__choice-buttons {
      margin-bottom: 1rem; }
    .article__choice-button {
      width: 2rem;
      height: 2rem;
      margin: 0 0.3rem;
      background-color: transparent;
      outline: none;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer; }
      .article__choice-button--black {
        background-color: #1b1b1b; }
      .article__choice-button--silver {
        background-color: #dfdfdf; }
  .article__number {
    font-size: 1.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__number-label {
      font-size: 1.4rem; }
  .article__weight {
    font-size: 1.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__weight-label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem; }
  .article__amount {
    margin-bottom: 2rem; }
    .article__amount-label {
      font-size: 1.7rem; }
    .article__amount-dropdown {
      margin: 0 0.5rem;
      padding: 0.5rem;
      width: 7rem;
      font-size: 1.7rem; }
      .article__amount-dropdown--option {
        font-size: 1.7rem; }
  .article__cta {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .article__cta-main {
      padding: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 1.5rem;
      background-color: #f8f8f8;
      border: 1px solid #f1eeee;
      box-shadow: 0 2px 4px rgba(219, 218, 218, 0.4); }
    .article__cta-price {
      display: flex;
      gap: 1rem;
      justify-content: flex-start; }
    .article__cta-like-button {
      margin-left: auto;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer; }
    .article__cta-like-icon {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s; }
      .article__cta-like-icon:hover {
        fill: #953f05; }
    .article__cta-to-cart-button {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      background-color: transparent;
      border: none;
      outline: none;
      background-color: #f98437;
      color: white;
      margin: 1rem auto 0 auto;
      cursor: pointer;
      transition: all 0.2s; }
      .article__cta-to-cart-button:hover {
        background-color: #ff6600; }
    .article__cta-to-cart-text {
      font-size: 1.6rem;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      font-weight: 500; }
    .article__cta-to-list-button {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #c9c8c8;
      outline: none;
      cursor: pointer;
      padding: 0.3rem 1rem;
      text-align: left;
      transition: all 0.2s; }
      .article__cta-to-list-button:hover {
        background-color: #fbfbfb; }
    .article__cta-to-list-text {
      font-size: 1.3rem; }
    .article__cta-new-price {
      font-size: 2.2rem;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      color: #4d4d4d;
      white-space: nowrap; }
    .article__cta-old-price {
      text-decoration: line-through;
      font-size: 1.2rem;
      color: #626161;
      text-decoration-thickness: 1.5px;
      text-decoration-color: grey;
      white-space: nowrap; }
    .article__cta-delivery-text {
      font-size: 1.3rem; }
    .article__cta-delivery-bullet {
      margin-right: 0.5rem;
      font-size: 1.6rem;
      color: green; }
    .article__cta-aux {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .article__cta-compare-button {
      border: none;
      background-color: #f9f9a8;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      padding: 0.3rem 1.5rem;
      gap: 1rem;
      align-items: center;
      border-radius: 0.1rem;
      box-shadow: 0 2px 4px rgba(219, 218, 218, 0.4); }
    .article__cta-compare-icon {
      width: 2rem;
      height: 2rem; }
    .article__cta-compare-text {
      font-size: 1.5rem;
      letter-spacing: 0.5px; }
    .article__cta-suggest-button {
      border: none;
      background-color: #f9f9a8;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      padding: 0.3rem 1.5rem;
      gap: 1rem;
      align-items: center;
      border-radius: 0.1rem;
      box-shadow: 0 2px 4px rgba(219, 218, 218, 0.4); }
    .article__cta-suggest-text {
      font-size: 1.5rem;
      letter-spacing: 0.5px; }
    .article__cta-suggest-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem; }

@media only screen and (max-width: 68.75em) {
  .article {
    flex-wrap: wrap;
    justify-content: center; }
  .article__cta {
    max-width: 60%; } }

@media only screen and (max-width: 50em) {
  .article__gallery {
    flex-direction: column; }
  .article__gallery-previews {
    flex-direction: row;
    gap: 1rem;
    order: 2; }
  .article__arrow-up {
    transform: rotate(180deg); }
  .article__arrow-down {
    transform: rotate(0); } }

.specifications {
  padding-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem; }
  .specifications__container {
    width: 80%;
    margin: 0 auto; }
  .specifications__nav {
    display: flex;
    gap: 2px; }
  .specifications__heading {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
    border-radius: 3px 3px 0 0; }
    .specifications__heading:not(.specifications__heading--selected):hover {
      background-color: #eceaea; }
    .specifications__heading--selected {
      position: relative;
      top: 1px;
      background-color: white;
      border-top: 1px solid #dfdede;
      border-left: 1px solid #dfdede;
      border-right: 1px solid #dfdede;
      border-bottom: 1px solid white; }
  .specifications__content {
    border: 1px solid #dfdede;
    padding: 3rem;
    border-radius: 2px; }
  .specifications__details {
    display: flex;
    gap: 0.5rem; }
    .specifications__details-underline {
      width: 100%;
      height: 2rem; }
    .specifications__details-props {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem; }
    .specifications__details-more {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 0.5rem;
      color: #719d0b;
      font-family: inherit;
      font-size: 1.6rem;
      text-align: start;
      transition: all 0.2s;
      text-decoration: underline;
      text-decoration-thickness: 1px; }
      .specifications__details-more:hover {
        text-decoration: none; }
    .specifications__details-prop {
      position: relative;
      white-space: nowrap; }
      .specifications__details-prop::after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 3px;
        left: 0;
        border-bottom: 1px dashed #c1bfbf;
        height: 0;
        width: 100%; }
      .specifications__details-prop--text {
        color: #5e5e5e;
        position: relative;
        padding: 0.5rem;
        background-color: white; }
    .specifications__details-values {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      white-space: nowrap; }

@media only screen and (max-width: 40.62em) {
  .specifications__content {
    font-size: 1.2rem; }
  .specifications__heading {
    padding: 1rem; } }

@media only screen and (max-width: 31.25em) {
  .specifications__content {
    font-size: 1rem; } }

.reviews {
  width: 80%;
  margin: 5rem auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: 1px solid #e7e4e4;
  border-bottom: 1px solid #e7e4e4; }
  .reviews__container {
    position: relative;
    padding: 1rem 0;
    display: flex;
    gap: 3rem;
    align-items: flex-start; }
  .reviews__compose {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: 3rem;
    margin-bottom: 2rem;
    transition: all 0.2s; }
    .reviews__compose:hover {
      color: #609211; }
      .reviews__compose:hover .reviews__compose-icon {
        fill: #609211; }
    .reviews__compose-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: #7a7a7a;
      transition: all 0.2s; }
  .reviews__heading {
    margin: 2rem 0 2rem 2rem;
    font-size: 2.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-weight: 500; }
  .reviews__button {
    position: absolute;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    right: -2.5rem;
    top: 50%;
    background-color: #f4f1f1;
    transform: translateY(-50%);
    box-shadow: 0 0 6px rgba(188, 187, 187, 0.3);
    transition: all 0.2s; }
    .reviews__button:hover {
      box-shadow: 1px 1px 8px rgba(188, 187, 187, 0.3);
      transform: translateY(-50%) scale(1.1); }
      .reviews__button:hover .reviews__icon {
        fill: #afc410; }
  .reviews__icon {
    width: 2.3rem;
    height: 2.3rem;
    fill: #7f7e7e;
    transition: all 0.2s; }
  .reviews__review {
    width: calc((100% - 6rem) / 3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 0 12px rgba(188, 187, 187, 0.3); }
  .reviews__user-info {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .reviews__avatar {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #f4efef;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden; }
    .reviews__avatar-icon {
      margin-top: 1.8rem;
      width: 3.5rem;
      height: 3.5rem;
      fill: #e1e0e0; }
  .reviews__info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; }
  .reviews__name {
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-size: 1.7rem; }
  .reviews__date {
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-size: 1.5rem;
    color: #939292; }
  .reviews__user {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .reviews__rating {
    display: flex;
    flex-wrap: nowrap; }
    .reviews__rating-star {
      width: 1.5rem;
      height: 1.5rem;
      fill: #ff6600; }
  .reviews__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    line-height: 1.4; }
    .reviews__text-trunk {
      -webkit-line-clamp: unset; }

@media only screen and (max-width: 68.75em) {
  .reviews__user {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0; }
  .reviews__user-info {
    align-items: flex-start;
    justify-content: flex-start; }
  .reviews__button {
    width: 3.5rem;
    height: 3.5rem; }
  .reviews__name {
    margin-bottom: 0; }
  .reviews__review {
    padding: 1.5rem; }
  .reviews__text {
    -webkit-line-clamp: 7; } }

@media only screen and (max-width: 40.62em) {
  .reviews__avatar {
    display: none; }
  .reviews__text {
    -webkit-line-clamp: 9; } }

.suggestions {
  width: 80%;
  margin: 0 auto 8rem auto; }
  .suggestions__heading {
    margin: 2rem 0 2rem 2rem;
    font-size: 2.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-weight: 500; }
  .suggestions__container {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    padding: 0 4rem;
    margin: 5rem 0; }
  .suggestions__suggestion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 8rem) / 4);
    gap: 1.4rem; }
  .suggestions__info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-left: 0.5rem; }
    .suggestions__info-heading {
      font-size: 1.8rem;
      color: inherit;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s; }
      .suggestions__info-heading:hover {
        text-decoration: underline; }
    .suggestions__info-price {
      font-size: 1.7rem;
      color: #747373; }
    .suggestions__info-old-price {
      font-size: 1.6rem;
      text-decoration: line-through;
      color: #aaa8a8; }
  .suggestions__price {
    display: flex;
    gap: 1rem; }
  .suggestions__image {
    min-width: 0;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.2s ease-out; }
    .suggestions__image-container {
      padding: 2rem;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e7e4e4;
      border-radius: 3rem;
      transition: all 0.2s ease-out; }
      .suggestions__image-container:hover {
        transform: scale(1.05); }
        .suggestions__image-container:hover .suggestions__image {
          transform: scale(1.05); }

@media only screen and (max-width: 68.75em) {
  .suggestions__image-container {
    height: 20rem; }
  .suggestions__image {
    min-height: 10rem;
    min-width: 10rem; } }

@media only screen and (max-width: 40.62em) {
  .suggestions__container {
    flex-wrap: wrap; }
  .suggestions__suggestion {
    width: 45%; } }

@media only screen and (max-width: 31.25em) {
  .suggestions__container {
    justify-content: center; }
  .suggestions__suggestion {
    width: 80%; }
  .suggestions__image-container {
    height: 40rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

@media only screen and (min-width: 121.25em) {
  html {
    font-size: 75%; } }

@media only screen and (min-width: 106.25em) {
  html {
    font-size: 70%; } }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 58%; } }

@media only screen and (max-width: 50em) {
  html {
    font-size: 53%; } }

@media only screen and (max-width: 40.62em) {
  html {
    font-size: 48%; } }

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 43%; } }

body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue Light", Arial, sans-serif; }

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/assets/fonts/Helvetica Neue Thin.ttf"); }

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/assets/fonts/Helvetica Neue Light.ttf"); }

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/assets/fonts/Helvetica Neue Medium.ttf"); }

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/assets/fonts/Helvetica Neue Bold.ttf"); }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("/assets/fonts/Helvetica Neue Condensed.ttf"); }

.to-start {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8.8rem;
  right: 2.2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 50%; }
  .to-start__icon {
    fill: rgba(0, 0, 0, 0.6);
    width: 3rem;
    transform: rotate(270deg); }

@media only screen and (max-width: 40.62em) {
  .to-start {
    display: none; } }

.mb-sm {
  margin-bottom: 0.5rem !important; }

.mb-md {
  margin-bottom: 1rem !important; }

.mb-lg {
  margin-bottom: 2rem !important; }

.mt-sm {
  margin-top: 0.5rem !important; }

.mt-md {
  margin-top: 1rem !important; }

.mt-lg {
  margin-top: 2rem !important; }

.pt-sm {
  padding-top: 0.5rem; }

.pt-md {
  padding-top: 1rem; }

.pt-lg {
  padding-top: 2rem; }

.pb-sm {
  padding-bottom: 0.5rem; }

.pb-md {
  padding-bottom: 1rem; }

.pb-lg {
  padding-bottom: 2rem; }

.bb-sm {
  border-bottom: 1px solid #e6e6e6; }
