.header {
  width: 100%;
  display: flex;
  background-color: #1d1d1b;
  padding: 1.5rem 0; }
  .header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 6rem; }
  .header__logo {
    width: 12rem; }
  .header__search-input {
    border: none;
    font-size: 1.4rem;
    color: #e3e3e3;
    background-color: transparent;
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    transition: all 0.2s ease-out; }
    .header__search-input-area {
      width: 30rem;
      margin-left: auto;
      display: flex;
      border: 1.5px solid #e3e3e3;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: #e3e3e3;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-out; }
      .header__search-input-area:focus-within {
        background-color: #d7d7d7;
        border: 1.5px solid #d7d7d7;
        color: #1d1d1b;
        width: 33rem; }
        .header__search-input-area:focus-within .header__search-button {
          fill: black; }
    .header__search-input:focus {
      outline: none;
      color: #1d1d1b; }
      .header__search-input:focus::placeholder {
        color: #1d1d1b; }
    .header__search-input::placeholder {
      color: #ccc9c9;
      font-family: "Helvetica Neue Light", Arial, sans-serif; }
  .header__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #e3e3e3; }
  .header__search-icon {
    margin-bottom: -0.5rem;
    width: 2.5rem;
    height: 2.5rem; }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 4rem; }
    .header__actions-button {
      background-color: transparent;
      border: none;
      fill: #e3e3e3;
      cursor: pointer;
      transition: all 0.2s ease-out; }
      .header__actions-button:hover {
        fill: #ffffff; }
    .header__actions-icon--cart {
      width: 3rem;
      height: 3rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--cart:hover {
        transform: scale(1.2); }
    .header__actions-icon--user {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--user:hover {
        transform: scale(1.2); }
    .header__actions-flag {
      width: 2.5rem;
      height: 2.5rem; }
    .header__actions-arrow-down {
      margin-bottom: 0.5rem;
      width: 1rem;
      height: 1rem;
      transform: rotate(90deg); }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem; }

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/assets/fonts/Helvetica Neue Thin.ttf"); }

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/assets/fonts/Helvetica Neue Light.ttf"); }

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/assets/fonts/Helvetica Neue Medium.ttf"); }

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/assets/fonts/Helvetica Neue Bold.ttf"); }

.mb-sm {
  margin-bottom: 0.5rem !important; }

.mb-md {
  margin-bottom: 1rem !important; }

.mb-lg {
  margin-bottom: 2rem !important; }

.mt-sm {
  margin-top: 0.5rem !important; }

.mt-md {
  margin-top: 1rem !important; }

.mt-lg {
  margin-top: 2rem !important; }

.pt-sm {
  padding-top: 0.5rem; }

.pt-md {
  padding-top: 1rem; }

.pt-lg {
  padding-top: 2rem; }

.pb-sm {
  padding-bottom: 0.5rem; }

.pb-md {
  padding-bottom: 1rem; }

.pb-lg {
  padding-bottom: 2rem; }

.bb-sm {
  border-bottom: 1px solid #e6e6e6; }
