.header {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header__top {
    background-color: #1d1d1b;
    padding: 1.5rem 0;
    display: flex; }
  .header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 6rem; }
  .header__logo {
    width: 12rem;
    margin-bottom: -0.5rem; }
  .header__search-input {
    border: none;
    font-size: 1.4rem;
    color: #e3e3e3;
    background-color: transparent;
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    transition: all 0.2s ease-out; }
    .header__search-input-area {
      width: 30rem;
      margin-left: auto;
      display: flex;
      border: 1.5px solid #e3e3e3;
      border-radius: 2rem;
      padding: 0.5rem 1.5rem;
      color: #e3e3e3;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-out; }
      .header__search-input-area:focus-within {
        background-color: #d7d7d7;
        border: 1.5px solid #d7d7d7;
        color: #1d1d1b;
        width: 33rem; }
        .header__search-input-area:focus-within .header__search-button {
          fill: black; }
    .header__search-input:focus {
      outline: none;
      color: #1d1d1b; }
      .header__search-input:focus::placeholder {
        color: #1d1d1b; }
    .header__search-input::placeholder {
      color: #ccc9c9;
      font-family: "Helvetica Neue Light", Arial, sans-serif; }
  .header__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #e3e3e3; }
  .header__search-icon {
    margin-bottom: -0.5rem;
    width: 2.5rem;
    height: 2.5rem; }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 4rem; }
    .header__actions-button {
      background-color: transparent;
      border: none;
      fill: #e3e3e3;
      cursor: pointer;
      transition: all 0.2s ease-out; }
      .header__actions-button:hover {
        fill: #ffffff; }
    .header__actions-icon--cart {
      width: 3rem;
      height: 3rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--cart:hover {
        transform: scale(1.2); }
    .header__actions-icon--user {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--user:hover {
        transform: scale(1.2); }
    .header__actions-icon--support {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .header__actions-icon--support:hover {
        transform: scale(1.2); }
    .header__actions-flag {
      width: 2.5rem;
      height: 2.5rem; }
    .header__actions-arrow-down {
      margin-bottom: 0.5rem;
      width: 1rem;
      height: 1rem;
      transform: rotate(90deg); }
  .header__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .header__nav-list {
      width: 80%;
      flex-wrap: wrap;
      margin: 0 auto;
      list-style: none;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      font-family: "Helvetica Neue Light", Arial, sans-serif;
      font-weight: 400;
      color: #1d1d1b; }
    .header__nav-item {
      padding: 1.5rem 4rem; }
      .header__nav-item--current {
        color: #afc410; }
        .header__nav-item--current:hover {
          background-color: transparent !important; }
      .header__nav-item:hover {
        background-color: #f9faed; }
    .header__nav-link:link, .header__nav-link:active, .header__nav-link:visited {
      text-decoration: none;
      color: inherit;
      font-family: inherit; }
    .header__nav-breadcrumbs {
      width: 80%;
      padding-left: 12rem;
      margin: 0 auto;
      display: flex;
      font-size: 1.2rem;
      font-family: "Helvetica Neue Light", Arial, sans-serif;
      align-items: center;
      gap: 0.7rem;
      letter-spacing: 1px; }
      .header__nav-breadcrumbs-icon {
        width: 1.4rem;
        height: 1.4rem; }
      .header__nav-breadcrumbs-link:link, .header__nav-breadcrumbs-link:visited, .header__nav-breadcrumbs-link:active {
        text-decoration: none;
        color: inherit; }
      .header__nav-breadcrumbs-link:hover {
        text-decoration: underline; }
      .header__nav-breadcrumbs-slash {
        font-family: "Helvetica Neue Thin", Arial, sans-serif;
        font-size: 1.5rem; }

.main__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem; }

.main__item {
  display: flex;
  width: 100%;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .main__item:not(:last-child) {
    padding-bottom: 3rem;
    border-bottom: 0.5px solid #e6e5e5; }
  .main__item:first-child {
    margin-top: 10rem; }
  .main__item-image {
    flex: 1 0 50%;
    min-width: 300px;
    height: auto; }
  .main__item-info {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 2rem; }
    .main__item-info-image {
      width: 50%;
      margin: 0 auto; }
    .main__item-info-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 1.7rem;
      letter-spacing: 0.5px; }
    .main__item-info-button {
      margin-top: 2rem !important;
      background-color: #1d1d1b;
      color: white;
      width: 50%;
      padding: 1.1rem;
      border-radius: 2rem;
      margin: 0 auto;
      cursor: pointer;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      transition: all 0.1s ease-out; }
      .main__item-info-button:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 6px rgba(29, 29, 27, 0.3); }

.footer {
  display: flex;
  flex-direction: column; }
  .footer__nav {
    background-color: #1d1d1b;
    padding-top: 1rem;
    position: relative; }
    .footer__nav-notice {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1rem;
      font-size: 1.4rem;
      color: #cecdcd; }
    .footer__nav-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
    .footer__nav-row {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      flex: 1 1 23%; }
      .footer__nav-row--lg {
        flex: 1 1 25%; }
      .footer__nav-row-heading {
        font-size: 1.8rem;
        color: #efeff1;
        text-transform: uppercase; }
        .footer__nav-row-heading--top {
          margin-bottom: 2rem; }
      .footer__nav-row-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.8rem; }
      .footer__nav-row-item {
        color: #a5a5a5;
        font-size: 1.6rem; }
        .footer__nav-row-item--sm {
          font-size: 1.4rem;
          line-height: 1.4;
          margin-bottom: 1rem; }
        .footer__nav-row-item-container {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          margin-bottom: 0.3rem; }
      .footer__nav-row-input {
        padding: 0.6rem 1rem;
        background-color: #dedddd;
        flex-grow: 1;
        outline: none;
        border: none;
        height: 3.4rem; }
        .footer__nav-row-input::placeholder {
          font-family: "Helvetica Neue Light", Arial, sans-serif; }
        .footer__nav-row-input:focus {
          outline: none; }
        .footer__nav-row-input-container {
          display: flex;
          border-radius: 1px;
          align-items: stretch;
          margin-bottom: 3rem; }
        .footer__nav-row-input-button {
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          background-color: #6b6e7d;
          padding: 0.3rem 0.6rem; }
          .footer__nav-row-input-button:hover {
            background-color: #afc410; }
      .footer__nav-row-link--rest:hover {
        text-decoration: none !important; }
      .footer__nav-row-link:link, .footer__nav-row-link:active, .footer__nav-row-link:visited {
        text-decoration: none;
        color: inherit;
        font-size: inherit; }
      .footer__nav-row-link:hover {
        text-decoration: underline; }
      .footer__nav-row-icon {
        width: 13rem;
        height: 4.2rem; }
        .footer__nav-row-icon--sm {
          width: 2.3rem;
          height: 2.3rem;
          fill: #ffffff; }
        .footer__nav-row-icon--esm {
          width: 1.5rem;
          height: 1.5rem;
          fill: #ffffff; }
  .footer__media {
    background-color: #1d1d1b;
    border-top: 1px solid #303030;
    padding: 1.5rem 0 0.5rem; }
    .footer__media-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .footer__media-slogan {
      color: #a6a6a6; }
    .footer__media-buttons {
      display: flex;
      gap: 2rem; }
    .footer__media-button {
      background-color: transparent;
      outline: none;
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border 0.2s; }
    .footer__media-icon {
      fill: #aeafb0;
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s ease-out; }
      .footer__media-icon:hover {
        transform: scale(1.1);
        fill: white; }
    .footer__media-payment-methods {
      margin-left: auto; }

.article {
  padding-top: 5rem;
  display: flex; }
  .article__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
  .article__arrow {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .article__arrow-up {
      width: 3rem;
      height: 3rem;
      transform: rotate(270deg);
      fill: #d9d8d8; }
    .article__arrow-down {
      width: 3rem;
      height: 3rem;
      transform: rotate(90deg);
      fill: #979797; }
  .article__general {
    display: flex;
    gap: 5rem; }
  .article__gallery {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .article__gallery-button {
      border: 1px solid #edecec;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      height: 5rem;
      width: 5rem;
      padding: 0.5rem;
      transition: all 0.2s; }
      .article__gallery-button:hover {
        box-shadow: 0 2px 6px rgba(128, 128, 128, 0.3);
        transform: scale(1.1); }
    .article__gallery-previews {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
      width: 4rem; }
    .article__gallery-preview {
      min-height: 0;
      max-height: 4rem; }
    .article__gallery-main-image {
      min-width: 0; }
  .article__main {
    margin-top: 0.5rem;
    display: flex;
    flex: 1 1 35%;
    flex-direction: column; }
  .article__rating {
    display: flex;
    align-items: center; }
    .article__rating-quantity {
      padding: 0 1rem;
      font-size: 1.2rem;
      transition: all 0.2s; }
      .article__rating-quantity:link, .article__rating-quantity:active, .article__rating-quantity:visited {
        color: inherit;
        text-decoration: none; }
      .article__rating-quantity:hover {
        text-decoration: underline; }
    .article__rating-stars {
      display: flex;
      flex-wrap: nowrap; }
    .article__rating-star {
      width: 1.8rem;
      height: 1.8rem;
      fill: #ff6600; }
  .article__heading {
    font-size: 2.6rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 0.7rem;
    color: #545353; }
  .article__description {
    font-size: 1.7rem;
    color: #565656;
    margin-bottom: 0.9rem; }
  .article__weight {
    font-size: 1.4rem; }
  .article__number {
    font-size: 1.4rem; }
  .article__hr {
    margin: 1rem 0 2rem 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .article__price-label {
    font-size: 1.7rem; }
  .article__new-price {
    font-size: 1.9rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
  .article__price {
    margin-bottom: 1rem; }
  .article__choice {
    margin-bottom: 1rem; }
    .article__choice-label {
      font-size: 1.7rem; }
    .article__choice--selected {
      font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__choice-buttons {
      margin-bottom: 1rem; }
    .article__choice-button {
      width: 2rem;
      height: 2rem;
      margin: 0 0.3rem;
      background-color: transparent;
      outline: none;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer; }
      .article__choice-button--black {
        background-color: #1b1b1b; }
      .article__choice-button--silver {
        background-color: #dfdfdf; }
  .article__number {
    font-size: 1.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__number-label {
      font-size: 1.4rem; }
  .article__weight {
    font-size: 1.4rem;
    font-family: "Helvetica Neue Medium", Arial, sans-serif; }
    .article__weight-label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem; }
  .article__amount {
    margin-bottom: 2rem; }
    .article__amount-label {
      font-size: 1.7rem; }
    .article__amount-dropdown {
      margin: 0 0.5rem;
      padding: 0.5rem;
      width: 7rem;
      font-size: 1.7rem; }
      .article__amount-dropdown--option {
        font-size: 1.7rem; }
  .article__cta {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .article__cta-main {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 1.5rem;
      background-color: #f8f8f8;
      border: 1px solid #f1eeee; }
    .article__cta-price {
      display: flex;
      gap: 1rem;
      justify-content: flex-start; }
    .article__cta-like-button {
      margin-left: auto;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer; }
    .article__cta-like-icon {
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.2s; }
      .article__cta-like-icon:hover {
        fill: #953f05; }
    .article__cta-to-cart-button {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      background-color: transparent;
      border: none;
      outline: none;
      background-color: #fa751c;
      color: white;
      margin: 1rem auto 0 auto;
      cursor: pointer;
      transition: all 0.2s; }
      .article__cta-to-cart-button:hover {
        background-color: #f96400; }
    .article__cta-to-cart-text {
      font-size: 1.6rem;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      font-weight: 500; }
    .article__cta-to-list-button {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #c9c8c8;
      outline: none;
      cursor: pointer;
      padding: 0.3rem 1rem;
      text-align: left;
      transition: all 0.2s; }
      .article__cta-to-list-button:hover {
        background-color: #fbfbfb; }
    .article__cta-to-list-text {
      font-size: 1.3rem; }
    .article__cta-new-price {
      font-size: 2.2rem;
      font-family: "Helvetica Neue Medium", Arial, sans-serif;
      color: #4d4d4d; }
    .article__cta-old-price {
      text-decoration: line-through;
      font-size: 1.2rem;
      color: #626161;
      text-decoration-thickness: 1.5px;
      text-decoration-color: grey; }
    .article__cta-delivery-text {
      font-size: 1.3rem; }
    .article__cta-delivery-bullet {
      margin-right: 0.5rem;
      font-size: 1.6rem;
      color: green; }
    .article__cta-aux {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .article__cta-compare-button {
      border: none;
      background-color: #f9f9ca;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      padding: 0.3rem 1.5rem;
      gap: 1rem;
      align-items: center;
      border-radius: 0.1rem;
      box-shadow: 0 2px 4px rgba(219, 218, 218, 0.4); }
    .article__cta-compare-icon {
      width: 2rem;
      height: 2rem; }
    .article__cta-compare-text {
      font-size: 1.4rem; }
    .article__cta-suggest-button {
      border: none;
      background-color: #f9f9ca;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      padding: 0.3rem 1.5rem;
      gap: 1rem;
      align-items: center;
      border-radius: 0.1rem;
      box-shadow: 0 2px 4px rgba(219, 218, 218, 0.4); }
    .article__cta-suggest-text {
      font-size: 1.4rem; }
    .article__cta-suggest-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue Light", Arial, sans-serif; }

@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("/assets/fonts/Helvetica Neue Thin.ttf"); }

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/assets/fonts/Helvetica Neue Light.ttf"); }

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/assets/fonts/Helvetica Neue Medium.ttf"); }

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/assets/fonts/Helvetica Neue Bold.ttf"); }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("/assets/fonts/Helvetica Neue Condensed.ttf"); }

.to-start {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8.8rem;
  right: 2.2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 50%; }
  .to-start__icon {
    fill: rgba(0, 0, 0, 0.6);
    width: 3rem;
    transform: rotate(270deg); }

.mb-sm {
  margin-bottom: 0.5rem !important; }

.mb-md {
  margin-bottom: 1rem !important; }

.mb-lg {
  margin-bottom: 2rem !important; }

.mt-sm {
  margin-top: 0.5rem !important; }

.mt-md {
  margin-top: 1rem !important; }

.mt-lg {
  margin-top: 2rem !important; }

.pt-sm {
  padding-top: 0.5rem; }

.pt-md {
  padding-top: 1rem; }

.pt-lg {
  padding-top: 2rem; }

.pb-sm {
  padding-bottom: 0.5rem; }

.pb-md {
  padding-bottom: 1rem; }

.pb-lg {
  padding-bottom: 2rem; }

.bb-sm {
  border-bottom: 1px solid #e6e6e6; }
