$green-color: #afc410;
$white-color: #e3e3e3;
$black-color: #1d1d1b;

$content-width: 80%;
$main-width: 70%;

$font-thin: "Helvetica Neue Thin", Arial, sans-serif;
$font-light: "Helvetica Neue Light", Arial, sans-serif;
$font-medium: "Helvetica Neue Medium", Arial, sans-serif;
$font-bold: "Helvetica Neue Bold", Arial, sans-serif;
$font-condensed: "Helvetica Neue Condensed", Arial, sans-serif;
