@import "../abstracts/variables";

.main {
  &__container {
    width: $main-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
  }

  &__item {
    display: flex;
    width: 100%;
    gap: 7rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &:not(:last-child) {
      padding-bottom: 3rem;
      border-bottom: 0.5px solid rgb(230, 229, 229);
    }

    &:first-child {
      margin-top: 10rem;
    }
    &-image {
      flex: 1 0 50%;
      min-width: 300px;
      height: auto;
    }

    &-info {
      flex: 1 0 30%;
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      gap: 2rem;
      &-image {
        width: 50%;
        margin: 0 auto;
      }

      &-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.7rem;
        letter-spacing: 0.5px;
      }

      &-button {
        margin-top: 2rem !important;
        background-color: $black-color;
        color: white;
        width: 50%;
        padding: 1.1rem;
        border-radius: 2rem;
        margin: 0 auto;
        cursor: pointer;
        white-space: nowrap;
        font-family: $font-medium;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        transition: all 0.1s ease-out;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 2px 6px rgba($black-color, 0.3);
        }
      }
    }
  }
}

@media only screen and (max-width: 68.75em) {
  .main__item-info-button {
    width: 80%;
  }
}

@media only screen and (max-width: 50em) {
  .main__item {
    flex-direction: column;
  }

  .main__item-image {
    width: 80%;
  }
}
