@import "../abstracts/variables";

.reviews {
  width: $content-width;
  margin: 5rem auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: $border-light;
  border-bottom: $border-light;
  &__container {
    position: relative;
    padding: 1rem 0;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
  }

  &__compose {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: 3rem;
    margin-bottom: 2rem;
    transition: all 0.2s;

    &:hover {
      color: rgb(96, 146, 17);

      .reviews__compose-icon {
        fill: rgb(96, 146, 17);
      }
    }

    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: rgb(122, 122, 122);
      transition: all 0.2s;
    }
  }

  &__heading {
    margin: 2rem 0 2rem 2rem;
    font-size: 2.4rem;
    font-family: $font-medium;
    font-weight: 500;
  }

  &__button {
    position: absolute;
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    right: -2.5rem;
    top: 50%;
    background-color: rgb(244, 241, 241);
    transform: translateY(-50%);
    box-shadow: 0 0 6px rgba(rgb(188, 187, 187), 0.3);
    transition: all 0.2s;

    &:hover {
      box-shadow: 1px 1px 8px rgba(rgb(188, 187, 187), 0.3);
      transform: translateY(-50%) scale(1.1);

      .reviews__icon {
        fill: $green-color;
      }
    }
  }

  &__icon {
    width: 2.3rem;
    height: 2.3rem;
    fill: rgb(127, 126, 126);
    transition: all 0.2s;
  }

  &__review {
    width: calc((100% - 6rem) / 3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 0 12px rgba(rgb(188, 187, 187), 0.3);
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__avatar {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgb(244, 239, 239);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;

    &-icon {
      margin-top: 1.8rem;
      width: 3.5rem;
      height: 3.5rem;
      fill: rgb(225, 224, 224);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__name {
    font-family: $font-medium;
    font-size: 1.7rem;
  }

  &__date {
    font-family: $font-medium;
    font-size: 1.5rem;
    color: rgb(147, 146, 146);
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__rating {
    display: flex;
    flex-wrap: nowrap;

    &-star {
      width: 1.5rem;
      height: 1.5rem;
      fill: $orange-color;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    line-height: 1.4;
    max-height: 11.5rem;
    transition: all 1s;
    &-trunk {
      -webkit-line-clamp: unset;
    }
  }
}

@media only screen and (max-width: 68.75em) {
  .reviews {
    padding-bottom: 9rem;
  }

  .reviews__container {
    flex-direction: column;
  }
  .reviews__user {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }

  .reviews__user-info {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .reviews__button {
    right: 50%;
    top: 100%;
    transform: translateY(20%) rotate(90deg);

    &:hover {
      box-shadow: 1px 1px 8px rgba(rgb(188, 187, 187), 0.3);
      transform: translateY(20%) scale(1.1) rotate(90deg);
    }
  }

  .reviews__name {
    margin-bottom: 0;
  }

  .reviews__review {
    padding: 2rem;
    width: 100%;
  }

  .reviews__icon {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 40.62em) {
  .reviews__avatar {
    display: none;
  }
}
